body {
  background-image: url(https://4walled.cc/src/3e/3efc3af8627cf903f1bfd201a312e39c.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 90%;
  height: 100%;
}
.button-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
  display: flex;
  justify-content: space-between;
}
.drum_button {
  color: #fff;
  width: 65px;
  height: 55px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgba(41, 41, 43, 0.7);
  text-align: center;
}
.playing {
  border: 3px solid yellow;
}
